@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

:root {
  font-family: "Press Start 2P", system-ui, sans-serif;
  background: radial-gradient(circle at top, #0e0220, #000014);
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow {
  animation: rainbow 3s infinite;
}

/* GAMBAR NECO */
#necoImage {
  z-index: 20;
  filter: drop-shadow(0 0 12px #ff00ff);
  animation: floatNeco 3s ease-in-out infinite;
}

@keyframes floatNeco {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes borderChangeColor {
  0% {
    border-left: 1rem double yellow;
    border-top: 1rem double green;
    border-right: 1rem double orange;
    border-bottom: 1rem double red;
  }
  25% {
    border-left: 1rem double red;
    border-top: 1rem double yellow;
    border-right: 1rem double green;
    border-bottom: 1rem double orange;
  }
  50% {
    border-left: 1rem double orange;
    border-top: 1rem double red;
    border-right: 1rem double yellow;
    border-bottom: 1rem double green;
  }
  75% {
    border-left: 1rem double green;
    border-top: 1rem double orange;
    border-right: 1rem double red;
    border-bottom: 1rem double yellow;
  }
  100% {
    border-left: 1rem double yellow;
    border-top: 1rem double green;
    border-right: 1rem double orange;
    border-bottom: 1rem double red;
  }
}

.animate-border {
  animation: borderChangeColor 7s ease-in-out infinite;
  border: 1rem double white;
}

@keyframes lambai {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.animate-lambai {
  animation: lambai 4s ease-in-out infinite;
  transform-origin: bottom right;
}

.w-full {
  width: 100%;
}
.text-outline {
  text-shadow: 1px 1px 0 #000;
}
.bg-sh {
  background: conic-gradient(
    from 270deg,
    #ff005e 0deg 90deg,
    #ffea00 90deg 180deg,
    #00eaff 180deg 270deg,
    #ff00f7 270deg 360deg
  );
  animation: bg-rotate 4s ease-in-out infinite;
}

@keyframes bg-rotate {
  0% {
    background: conic-gradient(
      from 270deg,
      #ff00f7 0deg 90deg,
      #ff005e 90deg 180deg,
      #ffea00 180deg 270deg,
      #00eaff 270deg 360deg
    );
  }
}
